<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="index::common-head">
</head>
<body>

<div th:replace="index::common-header">
</div>


<div th:if="${ForgetEmailError}" class="alert alert-danger" style="text-align: center;width: 50%;margin: auto">
    There is no User with this email
</div>

<div th:if="${sendEmail}" class="alert alert-success" style="text-align: center;width: 50%;margin: auto">
    Check your email to change your password
</div>

<div style="width: 550px;margin: auto;background-color: #eff0f5">
    <form class="text-center border border-light p-5" action="#" th:action="@{/forgetPassword}" method="post">

        <p class="h4 mb-4">Forget Your Password?</p>

        <p>Enter your email and we’ll send a link to reset your password</p>

        <!-- Email -->
        <input type="email" name="email" id="defaultLoginFormEmail" class="form-control mb-4 my-4" placeholder="Enter Your Email">

        <!-- Sign in button -->
        <button class="btn btn-info btn-block my-4" type="submit">Submit</button>

        <p>
            <a href="/login">Go Login</a>
        </p>
    </form>
</div>



<div th:replace="index::common-script">
</div>
</body>
</html>