<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="index::common-head">
</head>
<body>

<div th:replace="index::common-header">
</div>



<div style="width: 550px;margin: auto;background-color: #eff0f5">
    <form class="text-center border border-light p-5" action="#" th:action="@{/resetPassword}" method="post">

        <p class="h4 mb-4">Reset Password</p>

        <input type="hidden" name="reset_password_token" th:value="${passwordToken.token}">

        <!-- Email -->
        <input type="password" name="newPassword" id="new_password" class="form-control mb-4 my-4" placeholder="New Password">

        <!-- Password -->
        <input type="password" id="confirm_password" class="form-control mb-4" placeholder="Confirm Password">
        <span id="showErrorMsg"></span>
        <!-- Sign in button -->
        <button class="btn btn-info btn-block my-4" type="submit">Change Password</button>

    </form>
</div>



<div th:replace="index::common-script">
</div>

<script>
    $(document).ready(function () {
        $('#confirm_password').keyup(function () {
            var new_password = $('#new_password').val();
            var confirm_password = $('#confirm_password').val();
            if(new_password != confirm_password){
                $('#showErrorMsg').html("Password doesn't match").css('color','red');
            }
            else{
                $('#showErrorMsg').html("");
            }
        });
    });
</script>

</body>
</html>