<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin-pages/dashboard::admin-head">
</head>
<body>

<div class="wrapper">

    <div th:replace="admin-pages/dashboard::admin-nav"></div>

    <div th:replace="admin-pages/dashboard::admin-aside"></div>

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Add a new Product</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                            <li class="breadcrumb-item active">Add Product</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-10" style="margin-left: 80px">
                        <!-- general form elements -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Product Form</h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <form action="#" th:action="@{/add_product}" th:object="${product}" method="post">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="exampleInputTitle">Product Title</label>
                                        <input type="text" class="form-control" id="exampleInputTitle" placeholder="Enter Product Title" th:field="*{product_title}">
                                        <small th:if="${#fields.hasErrors('product_title')}" th:errors="*{product_title}" class="text-danger"></small>
                                    </div>
                                    <div class="form-group">
                                        <label>Product Category</label>
                                        <!--<input type="password" class="form-control" id="exampleInputCategory" placeholder="">-->
                                        <select class="custom-select" th:field="*{product_category}">
                                            <option th:value="0">--Select Any--</option>
                                            <option th:each="c:${category_list}" th:value="${c.category_id}" th:text="${c.category_name}"></option>
                                        </select>
                                        <small th:if="${#fields.hasErrors('product_category')}" th:errors="*{product_category}" class="text-danger"></small>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputProductSize">Product Size</label>
                                        <input type="text" class="form-control" id="exampleInputProductSize" placeholder="Product Size" th:field="*{product_size}">
                                        <small th:if="${#fields.hasErrors('product_size')}" th:errors="*{product_size}" class="text-danger"></small>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputProductPrice">Product Price</label>
                                        <input type="text" class="form-control" id="exampleInputProductPrice" placeholder="Product Price" th:field="*{product_price}">
                                        <small th:if="${#fields.hasErrors('product_price')}" th:errors="*{product_price}" class="text-danger"></small>
                                    </div>
                                    <div class="form-group">
                                        <label for="summernote">Product Description</label>
                                        <textarea class="form-control" id="summernote" placeholder="Product Description" th:field="*{product_description}"></textarea>
                                        <small th:if="${#fields.hasErrors('product_description')}" th:errors="*{product_description}" class="text-danger"></small>
                                    </div>
                                </div>
                                <!-- /.card-body -->

                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">Add Product</button>
                                </div>
                            </form>
                        </div>
                        <!-- /.card -->

                    </div>
                    <!--/.col (right) -->
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>


    <div th:replace="admin-pages/dashboard::admin-footer"></div>

    <div th:replace="admin-pages/dashboard::admin-jsFile"></div>

</div>
</body>
</html>