<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin-pages/dashboard::admin-head">
</head>
<body>

<div class="wrapper">

    <div th:replace="admin-pages/dashboard::admin-nav"></div>

    <div th:replace="admin-pages/dashboard::admin-aside"></div>

    <div>
        <h1>Hello! I am in CategoryList Page</h1>
    </div>

    <div th:replace="admin-pages/dashboard::admin-footer"></div>

    <div th:replace="admin-pages/dashboard::admin-jsFile"></div>

</div>
</body>
</html>